* {
    margin: 0;
    /*margem*/
    padding: 0;
    /**/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*estilo de fonte*/
    box-sizing: border-box;
    /*flexibilação dos elementos futuros na div principal*/
}

body {
    display: flex;
    /*flecibilidade*/
    justify-content: center;
    /*alinhas os itens no centro*/
    align-items: center;
    height: 100vh;
    /*100vh = 100% view report*/
    background: #3b024d;
    background: linear-gradient(90deg, rgba(59, 2, 77, 1) 0%, rgba(109, 7, 140, 1) 40%, rgba(121, 8, 156, 1) 75%, rgba(133, 9, 171, 1) 100%);
}

.container {

    width: 250px;
    background-color: rgb(232, 138, 255);
    padding: 20px;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 100%);
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin: 15px;
    font-weight: bold;
    font-size: 30px;
}

label {
    display: block;
    /**/
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    border: none;
    outline: none;
    padding: 8px;
    margin-bottom: 10px;
    width: 95%;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: rgb(204, 104, 230);
    box-shadow: 1px 3px 10px rgb(100, 18, 125);
}

button:hover {
    background-color: rgb(220, 114, 247);
    box-shadow: 1px 3px 10px rgb(215, 204, 218);

}

#mensagemErro {
    margin-top: 10px;
    text-align: center;
}

a {
    text-align: center;
    margin: 10px;
    padding-left: 55px;
    font-size: 15px;
}